@{
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();

    //var tituloeventos = jss.Serialize(ViewBag.titulo);
    //var inicioeventos = jss.Serialize(ViewBag.inicio);
    //var fineventos = jss.Serialize(ViewBag.fin);
    //var tododiaeventos = jss.Serialize(ViewBag.tododia);
    //var coloreventos = jss.Serialize(ViewBag.color);
    //var descripcioneventos = jss.Serialize(ViewBag.descripcion);
    //var idEventos = jss.Serialize(ViewBag.idEvento);

    var EventosJSON = jss.Serialize(ViewBag.Eventos);
}

<div id="calendar2"></div>

<script type="text/javascript">

    var x;
    $(document).ready(function () {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $('#calendar2').fullCalendar({
            locale: 'es',
            header: {
                left: 'prevYear,prev,next,nextYear today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            droppable: true,
            events: JSON.parse('@Html.Raw(EventosJSON)'),
            eventRender: function (event, element) {

                element.qtip({
                    content: event.description,
                    style: 'qtip-light',
                    position: {
                        target: 'mouse', // Track the mouse as the positioning target
                        adjust: { x: 5, y: 5 } // Offset it slightly from under the mouse
                    }
                });
            },
            eventClick: function (calEvent, jsEvent, view) {
                var ideve = calEvent.data;

                $.get("OBtenerEventoPorId", { 'Id': ideve })
                    .done(function (response) {
                        $('#Detalle_Modificar').html(response);
                        $('#modal_modificar').modal('show');
                    });
            },
            dayClick: function (date) {
                if (count == 0) {
                    x = $(this);
                    $(this).css('background-color', 'lightSkyBlue');
                    $('#FechaIni').val(date.format('MM') + '/' + date.format('DD') + '/' + date.format('YYYY'));
                    $('#FechaFin').val(date.format('MM') + '/' + date.format('DD') + '/' + date.format('YYYY'));
                    count++;
                    $('#calendario2 .input-group.date').datepicker('setStartDate', $('#FechaIni').val());
                } else {
                    x.css('background-color', 'white');
                    x = $(this);
                    $(this).css('background-color', 'lightSkyBlue');
                    $('#FechaIni').val(date.format('MM') + '/' + date.format('DD') + '/' + date.format('YYYY'));
                    $('#FechaFin').val(date.format('MM') + '/' + date.format('DD') + '/' + date.format('YYYY'));
                    $('#calendario2 .input-group.date').datepicker('setStartDate', $('#FechaIni').val());
                }

                now = new Date(date.format('YYYY') + "/" + date.format('MM') + "/" + date.format('DD'));

                switch (now.getDay()) {
                    case 5:
                        document.getElementById("chbLunes").checked = false;
                        document.getElementById("chbMartes").checked = false;
                        document.getElementById("chbMiercoles").checked = false;
                        document.getElementById("chbJueves").checked = false;
                        document.getElementById("chbViernes").checked = true;
                        document.getElementById("chbSabado").checked = false;
                        document.getElementById("chbDomingo").checked = false;

                        $('#cbLunes').val("False");
                        $('#cbLunes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbJueves').val("False");
                        $('#cbJueves').val("False");
                        $('#cbViernes').val("True");
                        $('#cbViernes').val("True");
                        $('#cbSabado').val("False");
                        $('#cbSabado').val("False");
                        $('#cbDomingo').val("False");
                        $('#cbDomingo').val("False");

                        break;
                    case 6:
                        document.getElementById("chbLunes").checked = false;
                        document.getElementById("chbMartes").checked = false;
                        document.getElementById("chbMiercoles").checked = false;
                        document.getElementById("chbJueves").checked = false;
                        document.getElementById("chbViernes").checked = false;
                        document.getElementById("chbSabado").checked = true;
                        document.getElementById("chbDomingo").checked = false;

                        $('#cbLunes').val("False");
                        $('#cbLunes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbJueves').val("False");
                        $('#cbJueves').val("False");
                        $('#cbViernes').val("False");
                        $('#cbViernes').val("False");
                        $('#cbSabado').val("True");
                        $('#cbSabado').val("True");
                        $('#cbDomingo').val("False");
                        $('#cbDomingo').val("False");

                        break;
                    case 0:
                        document.getElementById("chbLunes").checked = false;
                        document.getElementById("chbMartes").checked = false;
                        document.getElementById("chbMiercoles").checked = false;
                        document.getElementById("chbJueves").checked = false;
                        document.getElementById("chbViernes").checked = false;
                        document.getElementById("chbSabado").checked = false;
                        document.getElementById("chbDomingo").checked = true;

                        $('#cbLunes').val("False");
                        $('#cbLunes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbJueves').val("False");
                        $('#cbJueves').val("False");
                        $('#cbViernes').val("False");
                        $('#cbViernes').val("False");
                        $('#cbSabado').val("False");
                        $('#cbSabado').val("False");
                        $('#cbDomingo').val("True");
                        $('#cbDomingo').val("True");

                        break;
                    case 1:
                        document.getElementById("chbLunes").checked = true;
                        document.getElementById("chbMartes").checked = false;
                        document.getElementById("chbMiercoles").checked = false;
                        document.getElementById("chbJueves").checked = false;
                        document.getElementById("chbViernes").checked = false;
                        document.getElementById("chbSabado").checked = false;
                        document.getElementById("chbDomingo").checked = false;

                        $('#cbLunes').val("True");
                        $('#cbLunes').val("True");
                        $('#cbMartes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbJueves').val("False");
                        $('#cbJueves').val("False");
                        $('#cbViernes').val("False");
                        $('#cbViernes').val("False");
                        $('#cbSabado').val("False");
                        $('#cbSabado').val("False");
                        $('#cbDomingo').val("False");
                        $('#cbDomingo').val("False");

                        break;
                    case 2:
                        document.getElementById("chbLunes").checked = false;
                        document.getElementById("chbMartes").checked = true;
                        document.getElementById("chbMiercoles").checked = false;
                        document.getElementById("chbJueves").checked = false;
                        document.getElementById("chbViernes").checked = false;
                        document.getElementById("chbSabado").checked = false;
                        document.getElementById("chbDomingo").checked = false;

                        $('#cbLunes').val("False");
                        $('#cbLunes').val("False");
                        $('#cbMartes').val("True");
                        $('#cbMartes').val("True");
                        $('#cbMiercoles').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbJueves').val("False");
                        $('#cbJueves').val("False");
                        $('#cbViernes').val("False");
                        $('#cbViernes').val("False");
                        $('#cbSabado').val("False");
                        $('#cbSabado').val("False");
                        $('#cbDomingo').val("False");
                        $('#cbDomingo').val("False");

                        break;
                    case 3:
                        document.getElementById("chbLunes").checked = false;
                        document.getElementById("chbMartes").checked = false;
                        document.getElementById("chbMiercoles").checked = true;
                        document.getElementById("chbJueves").checked = false;
                        document.getElementById("chbViernes").checked = false;
                        document.getElementById("chbSabado").checked = false;
                        document.getElementById("chbDomingo").checked = false;

                        $('#cbLunes').val("False");
                        $('#cbLunes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMiercoles').val("True");
                        $('#cbMiercoles').val("True");
                        $('#cbJueves').val("False");
                        $('#cbJueves').val("False");
                        $('#cbViernes').val("False");
                        $('#cbViernes').val("False");
                        $('#cbSabado').val("False");
                        $('#cbSabado').val("False");
                        $('#cbDomingo').val("False");
                        $('#cbDomingo').val("False");

                        break;
                    case 4:
                        document.getElementById("chbLunes").checked = false;
                        document.getElementById("chbMartes").checked = false;
                        document.getElementById("chbMiercoles").checked = false;
                        document.getElementById("chbJueves").checked = true;
                        document.getElementById("chbViernes").checked = false;
                        document.getElementById("chbSabado").checked = false;
                        document.getElementById("chbDomingo").checked = false;

                        $('#cbLunes').val("False");
                        $('#cbLunes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMartes').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbMiercoles').val("False");
                        $('#cbJueves').val("True");
                        $('#cbJueves').val("True");
                        $('#cbViernes').val("False");
                        $('#cbViernes').val("False");
                        $('#cbSabado').val("False");
                        $('#cbSabado').val("False");
                        $('#cbDomingo').val("False");
                        $('#cbDomingo').val("False");

                        break;
                    default:
                }
            },
            navLinks: true,
            navLinkDayClick: function (date, jsEvent) {
                $('#calendar2').fullCalendar('changeView', 'agendaDay', date.format());
            }
        });
        
    });

</script>