
<header class="masthead">
    <div class="carousel slide" id="carousel2">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel2" class="active"></li>
            <li data-slide-to="1" data-target="#carousel2"></li>
            <li data-slide-to="2" data-target="#carousel2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="image" class="img-responsive" src="~/Imagenes/Slide/Slide01.png">
                <div class="carousel-caption">
                    <p>DDC - Cajamarca</p>
                </div>
            </div>
            <div class="item ">
                <img alt="image" class="img-responsive" src="~/Imagenes/Slide/Slide2.png">
                <div class="carousel-caption">
                    <p>DDC - Cajamarca</p>
                </div>
            </div>
            <div class="item">
                <img alt="image" class="img-responsive" src="~/Imagenes/Slide/Slide3.png">
                <div class="carousel-caption">
                    <p>DDC - Cajamarca</p>
                </div>
            </div>
        </div>
        <a data-slide="prev" href="#carousel2" class="left carousel-control">
            <span class="icon-prev"></span>
        </a>
        <a data-slide="next" href="#carousel2" class="right carousel-control">
            <span class="icon-next"></span>
        </a>
    </div>
</header>

<br />
<br />

<section>
    <div class="container">
        <div class="row align-items-center" style="display: flex;align-items: center;">
            <div class="col-md-6">
                <div class="text-center">
                    <img class="img-circle img-responsive" style="width:400px" src="~/Imagenes/Image3.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <a href="@Url.Action("ListarPersonas", "Directorio")">
                    <div class="p-5">
                        <h2 class="display-4">Directorio Cultural</h2>
                        @* 
                            informacion sobre el directorio cultural, cambiar el estilo de la fuente, agregar tamaño
                            
                            *@
                        <p>Dentro de la intranet se podrá administrar el directorio relacionado con la cultura de nuestra localidad, asi como poder visualizarlas los datos correcpondientes a cada persona registrada.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<br />
<section>
    <div class="container">
        <div class="row align-items-center" style="display: flex;align-items: center;">
            <div class="col-md-6">
                <a href="@Url.Action("Calendario", "AgendaCultural")">
                    <div class="p-5">
                        <h2 class="display-4">Agenda Cultural</h2>
                        <p>Dentro de la intranet se podrá administrar los eventos relacionados con la cultura de nuestra localidad, asi como poder visualizar la agenda cultural en un calendario.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <img class="img-circle img-responsive" style="width:400px" src="~/Imagenes/Image2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

@*<br />
<section>
    <div class="container">
        <div class="row align-items-center" style="display: flex;align-items: center;">
            <div class="col-md-6">
                <div class="text-center">
                    <img class="img-circle" style="width:400px" src="~/Imagenes/Image1.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <div class="p-5">
                        <h2 class="display-4">Mapa de actividades Culturales</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>*@

<br />